@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Barrio&family=Poppins:wght@400;500;600;700&display=swap');

html {
	--font-title: 'Barrio', cursive;
	--font-en: 'Poppins', sans-serif;
	--font-ko: 'Nanum Gothic', sans-serif;

	--color-black: #000000;
	--color-black-2: #222222;
	--color-black-3: #333333;
	--color-white: #ffffff;
	--color-main: gold;
	--color-sub-1: antiquewhite;
	--color-sub-2: #fae6e6;
}

/* Reset CSS : Start */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
/* Reset CSS : End */

/* Common CSS : Start */
body {
	min-height: 800px;
}

main.box-container {
	display: flex;
	width: 500px;
	height: 400px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	background-color: #f7f3ed;
	border: 1px solid var(--color-black);
	box-shadow: 7px 7px 0px 2px;
}
/* Common CSS : End */

#game {
	width: 850px;
	height: auto; /*temp*/
	margin: 0 auto;
	box-sizing: border-box;
}

/* Entry : Start */
#game.entry {
	padding-top: 120px;
}

#game.entry > header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#game.entry > header > h1 {
	margin: 30px 0;
	font-family: var(--font-title);
	font-size: 80px;
	margin-bottom: 80px;
	transform: translateX(12px);
}

#game.entry > header > h1 > span {
	display: block;
	font-size: 30px;
	transform: rotate(-10deg) translate(-30px, -30px);
}

#game.entry > header > nav > ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 100px;
}

#game.entry > header > nav > ul > li {
	margin: 15px 0;
}

#game.entry > header > nav > ul > li > button {
	width: 180px;
	height: 60px;
	background-color: var(--color-black);
	border-radius: 100px;
	border-width: 2px;
	cursor: pointer;
	/* transition: all 0.3s; */

	letter-spacing: 1px;
	font-family: var(--font-en);
	font-size: 20px;
	color: var(--color-white);
}

#game.entry > header > nav > ul > li:first-child > button {
	background-color: var(--color-main);
	color: var(--color-black);
	font-weight: 600;
}

#game.entry > header > nav > ul > li > button:hover {
	font-weight: 600;
	background-color: var(--color-sub-1);
	color: var(--color-black);
	transform: scale(1.1);
}
/* Entry : End */

/* Profile : Start */
#game.profile > header > h1 {
	margin-bottom: 40px;
}

#game.profile > main.box-container > .profile-image {
	width: 30%;
	min-width: 100px;
}

#game.profile > main.box-container > .profile-image > .pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--color-black-3);
	background-color: var(--color-sub-1);
	font-size: 75px;
}

#game.profile > main.box-container > .profile-form {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0 35px 0 30px;
}

#game.profile > main.box-container > .profile-form > .username {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}

#game.profile > main.box-container > .profile-form > .username > span.errMsg {
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 12px;
	font-family: var(--font-ko);
	font-weight: 600;
	color: #e5559d;
}

#game.profile > main.box-container > .profile-form label {
	font: 600 13px/1 'Poppins';
	color: #555;
	letter-spacing: 1px;
	margin: 10px 0px 5px;
}

#game.profile
	> main.box-container
	> .profile-form
	> .username
	> input[type='text'] {
	max-width: 240px;
	height: 35px;
	font: 500 15px/1 'Poppins', 'arial';
	border: 0;
	border-bottom: 1px solid var(--color-black-3);
	outline: none;
	background-color: transparent;
}

#game.profile > main.box-container > .profile-form > .avatars {
	width: 100%;
	margin-bottom: 25px;
}
#game.profile > main.box-container > .profile-form > .avatars > ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
}

#game.profile > main.box-container > .profile-form > .avatars > ul > li {
	width: 55px;
	height: 55px;
	margin: 7px 10px 7px 0;
}

#game.profile
	> main.box-container
	> .profile-form
	> .avatars
	> ul
	> li
	> span.pic {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 30px;
	box-sizing: border-box;
	background-color: #bbb;
	cursor: pointer;
}

#game.profile
	> main.box-container
	> .profile-form
	> .avatars
	> ul
	> li
	> span.pic:hover,
#game.profile
	> main.box-container
	> .profile-form
	> .avatars
	> ul
	> li.active
	> span.pic {
	border: 3px solid rgb(62, 78, 33);
	font-size: 32px;
}

#game.profile > main.box-container > .profile-form > .btns {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#game.profile > main.box-container > .profile-form > .btns > button {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: var(--color-black-2);
	font: 14px/1 'Poppins';
	color: var(--color-white);
	cursor: pointer;
}

#game.profile > main.box-container > .profile-form > .btns > button:hover {
	font-size: 16px;
}

#game.profile > main.box-container > .profile-form > .btns > button#nextBtn {
	color: var(--color-black-2);
	font-weight: 600;
	background-color: var(--color-main);
}
/* Profile : End */

/* Rooms : Start */
#game.rooms > header > h1 {
	margin-bottom: 40px;
}

#game.rooms > main {
	height: auto;
	min-height: 400px;
	flex-direction: column;
}

#game.rooms > main > h2 {
	padding: 5px;
	font: 700 30px/1 var(--font-en);
	text-align: center;
	letter-spacing: 4px;
	color: var(--color-main);
	-webkit-text-stroke: var(--color-black-2) 1px;
}

#game.rooms > main > .room-list {
	display: flex;
	width: 100%;
	padding: 20px;
	min-height: 230px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#game.rooms > main > .room-list > p {
	align-self: center;
	margin: 0 auto;
	font: 500 18px/1 var(--font-en);
	color: #888;
	letter-spacing: 1px;
}

#game.rooms > main > .room-list > ul {
	width: 100%;
	height: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

#game.rooms > main > .room-list > ul > li {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 0px 15px;
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-black-2);
	cursor: pointer;

	font: 400 16px/1 var(--font-en), var(--font-ko);
	letter-spacing: 1px;
	color: var(--color-black-2);
}

#game.rooms > main > .room-list > ul > li:hover,
#game.rooms > main > .room-list > ul > li.active {
	font-weight: 600;
}

#game.rooms > main > .room-list > ul > li:hover::before,
#game.rooms > main > .room-list > ul > li.active::before {
	display: inline-block;
	content: '✔';
	letter-spacing: 2px;
	font-size: 18px;
	margin-right: 4px;
	color: var(--color-main);
	-webkit-text-stroke: var(--color-black-2) 0.5px;
}

#game.rooms > main > .btns {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0px 40px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#game.rooms > main > .btns > button {
	padding: 0px 20px;
	height: 40px;
	background-color: var(--color-black-2);
	color: var(--color-main);
	cursor: pointer;
	border-radius: 20px;
	letter-spacing: 1px;
	font: 400 14px / 1 var(--font-en);
}

#game.rooms > main > .btns > button#enterBtn {
	width: 100px;
	background-color: var(--color-main);
	color: var(--color-black-2);
	font-weight: 600;
}

#game.rooms > main > .btns > button#enterBtn:disabled {
	background-color: #888;
	color: var(--color-white);
	font-weight: 400;
}
/* Rooms : End */

/* Game : Start */
#game.play {
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	padding-top: 30px;
}

#game.play > header > h1 {
	margin: 30px 0;
	font-family: var(--font-title);
	font-size: 50px;
	margin-bottom: 10px;
}

#game.play > header {
	width: 100%;
}

#game.play > main {
	position: relative;
	width: 500px;
	height: calc(100% - 97px);
	font-size: 0;
}

#game.play > main > ul.word {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	display: flex;
}

#game.play > main > ul.word > li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid #555;
	margin-right: 10px;
	font: 400 40px/1 'arial';
	color: var(--color-black-3);
	box-shadow: 3px 3px 0px var(--color-black-3);
	background-color: var(--color-sub-2);
}

#game.play > main > span.timer {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	font: 600 40px/1 var(--font-title);
}

#game.play > main > .canvas-container {
	width: 100%;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--color-black);
	box-sizing: border-box;
}

#game.play > main > .canvas-container > #canvas {
	width: 100%;
	height: calc(100% - 45px);
}

#game.play > main > .canvas-container > ul.paint-tools {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 46px;
}

#game.play > main > .canvas-container > ul.paint-tools > li {
	margin: 0px 7px;
}

#game.play > main > .canvas-container > ul.paint-tools > li > button {
	background-color: transparent;
	cursor: pointer;
	border: 0;
	font-size: 20px;
	color: var(--color-black-3);
}

#game.play > main > .canvas-container > ul.paint-tools > li > button.brush {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--color-black-2);
	box-shadow: 2px 2px 0px var(--color-black-3);
	background-color: transparent;
}

#game.play
	> main
	> .canvas-container
	> ul.paint-tools
	> li:not(.active):hover
	button {
	transform: scale(1.2);
}

#game.play > main > .canvas-container > ul.paint-tools > li.active button {
	box-shadow: none;
	transform: translate(2px, 2px);
}

#game.play
	> main
	> .canvas-container
	> ul.paint-tools
	> li.active
	button.eraser {
	transform: scale(1.2);
	color: skyblue;
}

#game.play > main > .user-control {
	display: flex;
	justify-content: space-between;
	height: calc(100% - 500px);
	border: 1px solid var(--color-black);
	border-top: 0;
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--color-main);
}

#game.play > main > .user-control > ul.user-profile {
	display: flex;
	align-items: center;
	height: 100%;
}

#game.play > main > .user-control > ul.user-profile > li {
	height: 50px;
}

#game.play > main > .user-control > ul.user-profile > li.user-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	font-size: 35px;
	border: 1px solid var(--color-black-2);
	border-radius: 10px;
	background-color: var(--color-sub-2);
}

#game.play > main > .user-control > ul.user-profile > li.user-name,
#game.play > main > .user-control > ul.user-profile > li.user-score {
	width: 118px;
	margin-left: 10px;
	font: 600 14px/1 'Poppins';
	color: var(--color-black-3);
	box-sizing: border-box;
	border: 1px solid var(--color-black-2);
	background-color: var(--color-white);
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
}

#game.play > main > .user-control > ul.user-profile > li.user-score {
}

#game.play > main > .user-control > ul.user-profile > li > span:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20px;
	font: 11px/1 var(--font-en);
	color: var(--color-white);
	background-color: var(--color-black-2);
	letter-spacing: 1px;
}

#game.play > main > .user-control > ul.user-profile > li > span:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - 20px);
	background-color: var(--color-sub-1);
}

#game.play > main > .user-control > ul.game-btns {
	display: flex;
	height: 100%;
}

#game.play > main > .user-control > ul.game-btns > li {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 10px;
}

#game.play > main > .user-control > ul.game-btns > li > button {
	position: relative;
	z-index: 1;
	height: 50px;
	color: var(--color-white);
	font: 16px/1 var(--font-en);
	letter-spacing: 2px;
	border: 1px solid var(--color-black-2);
	border-radius: 10px;
	cursor: pointer;
}

/*
#game.play > main > .user-control > ul.game-btns > li > button.exit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: var(--color-black-2);
	font-size: 22px;
	padding-top: 2px;
	background-color: var(--color-sub-1);
}

#game.play > main > .user-control > ul.game-btns > li > button.exit-btn:hover {
	font-size: 24px;
}*/

#game.play > main > .user-control > ul.game-btns > li > button.like-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 26px;
	color: coral;
	background-color: var(--color-sub-1);
	-webkit-text-stroke: 1px var(--color-black-2);
}

#game.play > main > .user-control > ul.game-btns > li > button.like-btn:hover {
	font-size: 30px;
}

#game.play > main > .user-control > ul.game-btns > li > button.start-btn {
	width: 100px;
	background-color: var(--color-black-2);
}

#game.play > main > .user-control > ul.game-btns > li > button.start-btn:hover {
	font-size: 18px;
}

#game.play > aside {
	display: flex;
	flex-direction: column;
	width: calc(100% - 500px);
	height: calc(100% - 97px);
	padding: 5px 5px 5px 20px;
	box-sizing: border-box;
}

#game.play > aside > .player-list {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

#game.play > aside > .player-list > ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

#game.play > aside > .player-list > ul > li {
	position: relative;
	width: calc(50% - 10px);
	height: 50px;
	margin-bottom: 10px;
	border: 1px solid var(--color-black-2);
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
}

#game.play > aside > .player-list > ul > li.winner::before {
	position: absolute;
	top: 0px;
	left: 15px;
	z-index: 1;
	display: block;
	content: '\f521';
	font-weight: 600;
	color: var(--color-main);
	-webkit-text-stroke: 2px var(--color-black);
	font-family: 'Font Awesome 6 Free';
}

#game.play > aside > .player-list > ul > li.play-host::before {
	position: absolute;
	top: 0px;
	left: 30px;
	z-index: 1;
	display: flex;
	content: '방장';
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 14px;
	background-color: darkslategrey;
	border-radius: 2px;
	color: var(--color-white);
	font: 400 8px/1 'Nanum Gothic', sans-serif;
}

#game.play > aside > .player-list > ul > li.painter > .player-avatar::before {
	position: absolute;
	bottom: 2px;
	left: 32px;
	z-index: 1;
	display: block;
	content: '🎨';
	font-size: 12px;
}

#game.play > aside > .player-list > ul > li:nth-child(odd) {
	margin-right: 15px;
}

#game.play > aside > .player-list > ul > li::after {
	content: '';
	display: block;
	clear: both;
}

#game.play > aside > .player-list > ul > li > span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	box-sizing: border-box;
	color: var(--color-black-2);
	float: left;
}

#game.play > aside > .player-list > ul > li > span.player-avatar {
	height: 100%;
	border-right: 1px solid var(--color-black-2);
	background-color: var(--color-sub-2);
	font-size: 30px;
}

#game.play > aside > .player-list > ul > li > span.player-username {
	width: calc(100% - 50px);
	height: 50%;
	border-bottom: 1px solid var(--color-black-2);
	font: 500 14px/1 var(--font-en);
	padding: 0 5px;
	background-color: var(--color-main);
}

#game.play > aside > .player-list > ul > li > span.player-score {
	width: calc(100% - 50px);
	height: 50%;
	font: 500 14px/1 var(--font-en);
	padding: 0 5px;
	background-color: var(--color-sub-1);
	letter-spacing: 1px;
}

#game.play > aside > #chat {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--color-sub-1);
	border: 1px solid var(--color-black-2);
	border-radius: 10px;
	overflow: hidden;
	padding-top: 5px;
}

#game.play > aside > #chat > ul.chat-dialogue {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 5px 10px;
	box-sizing: border-box;
}

#game.play > aside > #chat > ul.chat-dialogue > li {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#game.play > aside > #chat > ul.chat-dialogue > li > .user-profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	font-size: 18px;
}

#game.play > aside > #chat > ul.chat-dialogue > li > .user-dialogue {
	max-width: calc(100% - 50px);
}

#game.play > aside > #chat > ul.chat-dialogue > li > .user-dialogue > span {
	display: block;
	font: 500 12px/1 var(--font-en);
	padding-top: 5px;
	margin-bottom: 3px;
}

#game.play
	> aside
	> #chat
	> ul.chat-dialogue
	> li
	> .user-dialogue
	> p.dialogue-bubble {
	position: relative;
	height: auto;
	border: 1px solid var(--color-black-2);
	border-radius: 10px;
	background-color: var(--color-white);
	padding: 7px 10px;
	box-sizing: border-box;
	word-break: break-all;
	font: 13px/1.5 'Nanum Gothic', sans-serif;
}

#game.play
	> aside
	> #chat
	> ul.chat-dialogue
	> li
	> .user-dialogue
	> p.dialogue-bubble::before {
}

#game.play > aside > #chat > ul.chat-dialogue::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

#game.play > aside > #chat > ul.chat-dialogue::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--color-black-2);
	background-clip: padding-box;
	border: 2px solid transparent;
}

#game.play > aside > #chat > .chat-form {
	display: flex;
	width: 100%;
	height: 45px;
	background-color: var(--color-white);
	border-top: 1px solid var(--color-black-2);
}

#game.play > aside > #chat > .chat-form > #chat-input {
	width: calc(100% - 45px);
	height: 100%;
	outline: none;
	border: 0;
	padding: 0px 10px;
	font: 14px/1 'Nanum Gothic', sans-serif;
	box-sizing: border-box;
}

#game.play > aside > #chat > .chat-form > button {
	width: 45px;
	height: 100%;
	border: 0;
	background-color: var(--color-black-2);
	color: var(--color-main);
	font-size: 20px;
	cursor: pointer;
}
/* Game : End */
