@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Barrio&family=Poppins:wght@400;500;600;700&display=swap');

html {
	--font-title: 'Barrio', cursive;
	--font-en: 'Poppins', sans-serif;
	--font-ko: 'Nanum Gothic', sans-serif;

	--color-black: #000000;
	--color-black-2: #222222;
	--color-black-3: #333333;
	--color-white: #ffffff;
	--color-main: gold;
	--color-sub-1: antiquewhite;
	--color-sub-2: #fae6e6;
}

/* Reset CSS : Start */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
/* Reset CSS : End */

/* Common CSS : Start */
main.box-container {
	display: flex;
	width: 500px;
	height: 400px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	background-color: #f7f3ed;
	border: 1px solid #000;
	box-shadow: 7px 7px 0px 2px;
}
/* Common CSS : End */

#game {
	width: 850px;
	height: auto; /*temp*/
	margin: 0 auto;
	box-sizing: border-box;
}

/* Entry : Start */
#game.entry {
	padding-top: 120px;
}

#game.entry > header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#game.entry > header > h1 {
	margin: 30px 0;
	font-family: 'Barrio', cursive;
	font-size: 80px;
	/* transition: all 0.5s; */
	margin-bottom: 80px;
	transform: translateX(12px);
}
/*
#game.entry > header > h1:hover {
	margin: 0;
	transform: scale(0.5);
	transform-origin: left top;
}

#game.entry > header > h1:hover span {
	opacity: 0;
}
*/

#game.entry > header > h1 > span {
	display: block;
	font-size: 30px;
	transform: rotate(-10deg) translate(-30px, -30px);
	/* transition: opacity 0.3s; */
}

#game.entry > header > nav > ul {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 100px;
}

#game.entry > header > nav > ul > li {
	margin: 15px 0;
}

#game.entry > header > nav > ul > li > button {
	width: 180px;
	height: 60px;
	background-color: #000;
	border-radius: 100px;
	border-width: 2px;
	cursor: pointer;
	/* transition: all 0.3s; */

	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #fff;
}

#game.entry > header > nav > ul > li:first-child > button {
	background-color: gold;
	color: #000;
	font-weight: 600;
}

#game.entry > header > nav > ul > li > button:hover {
	font-weight: 600;
	background-color: antiquewhite;
	color: #000;
	transform: scale(1.1);
}
/* Entry : End */

/* Profile : Start */
#game.profile > header > h1 {
	margin-bottom: 40px;
}

#game.profile > main.box-container > .profile-image {
	width: 30%;
	min-width: 100px;
}

#game.profile > main.box-container > .profile-image > .pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 1 / 1;
	border: 1px solid #333;
	background-color: antiquewhite;
	font-size: 75px;
}

#game.profile > main.box-container > .profile-form {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0 35px 0 30px;
}

#game.profile > main.box-container > .profile-form > .username {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}

#game.profile > main.box-container > .profile-form label {
	font: 600 13px/1 'Poppins';
	color: #555;
	letter-spacing: 1px;
	margin: 10px 0px 5px;
}

#game.profile
	> main.box-container
	> .profile-form
	> .username
	> input[type='text'] {
	max-width: 240px;
	height: 35px;
	font: 16px/1 'Poppins', 'arial';
	border: 0;
	border-bottom: 1px solid #333;
	outline: none;
	background-color: transparent;
}

#game.profile > main.box-container > .profile-form > .avatars {
	width: 100%;
	margin-bottom: 25px;
}
#game.profile > main.box-container > .profile-form > .avatars > ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
}

#game.profile > main.box-container > .profile-form > .avatars > ul > li {
	width: 55px;
	height: 55px;
	margin: 7px 10px 7px 0;
}

#game.profile
	> main.box-container
	> .profile-form
	> .avatars
	> ul
	> li
	> span.pic {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 30px;
	box-sizing: border-box;
	background-color: #bbb;
	cursor: pointer;
}

#game.profile
	> main.box-container
	> .profile-form
	> .avatars
	> ul
	> li
	> span.pic:hover {
	border: 3px solid rgb(62, 78, 33);
	font-size: 32px;
}

#game.profile > main.box-container > .profile-form > .btns {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#game.profile > main.box-container > .profile-form > .btns > button {
	width: 100px;
	height: 40px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: #222;
	font: 14px/1 'Poppins';
	color: #fff;
	cursor: pointer;
}

#game.profile > main.box-container > .profile-form > .btns > button:hover {
	font-size: 16px;
}

#game.profile > main.box-container > .profile-form > .btns > button#playBtn {
	color: #222;
	font-weight: 600;
	background-color: gold;
}
/* Profile : End */
